.espacio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 500px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 20px;
}
.contenedor h3{
    display: flex;
    justify-content: center;
    font-size:x-large;
    font-weight: bold;
    margin-bottom: 4rem;
}

.casilla{
    margin-left: 5rem;
    width: 20rem;
    margin-bottom: 10px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
