
.main{
    padding: 15px;
}


.container{
    margin-bottom: 10px;
}

.topbar{
    background-color: orange;
    overflow: hidden;
    border-radius: 10px;
}

.topbar a{
    float: right;
    color: white;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
}

#lateral{
    background-color: rgb(145, 140, 140);
    color: white;
    height: 100%;
}

.sidebar button, .sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    border: none;
    background-color: rgb(145, 140, 140);
    text-decoration: none;
    text-align: left;
}



.card{
    position: relative;
    display: flex;
    flex-direction: column;

}
