{% load static %}
<br><br><br><br>
<footer>
    <div class="pie">
        <div class="itemf it1">
            <div class="sobre">
                <h1>
                    SOBRE NOSOTROS
                </h1>
                <a href="">Términos y condiciones</a>
                <a href="">Política de privacidad</a>
                <a href="">Quienes somos</a>
                <a href="">Tarifas</a>
                <a href="">Formas de pago</a>
            </div>
        </div>
        <div class="itemf it2">
            <div class="ayuda">
                <h1>
                    AYUDA
                </h1>
                <a href="">Centro de ayuda</a>
                <a href="">Pregruntas frecuentes</a>
                <a href="">Restaurantes cerca de mí</a>
            </div>
        </div>
        <div class="itemf it3">
            <div class="contacto">
                <H1>
                    CONTACTANOS
                </H1>
                <div class="ig">
                    <a href="">
                        <img src="{%static 'img/iconos/instagram (1) (2).png'%}" alt="" width="20px">
                    </a>                        
                    <a href="">
                        @El_Comilon
                    </a>
                </div>
                <div class="mail">
                    <a href="">
                        <img src="{%static 'img/iconos/correo (1).png'%}" alt="" width="20px">
                    </a>
                    <a href="">consultas@elcomilon.cl</a>
                </div>
                <div class="wsp">
                    <a href="">
                        <img src="{%static 'img/iconos/whatsapp (1).png'%}" alt="" width="20px">
                    </a>
                    <a href="">+56 9 3384 5556</a>
                </div>
            </div>
        </div>
    </div>
</footer>
