{% load static %}
<header>
    <div class="barra">
        <div>
            <a href="{% url 'Profile' %}">ESTO ES UN BOTON DE ENLACE</a>
        </div>
        <div class="item i1">
            <div class="icono">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/iconos/letra-c.png' %}" alt="" width="50px">
                </a>
            </div>
        </div>
        <div class="item i2">
            <div class="buscador">
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" >
                </form>
            </div>
        </div>
        <div class="item i3">
            <div class="boton ingreso">
                <a href="{% url 'Login' %}" >Ingreso</a>
            </div>
            <div class="boton registro">
                <a href="{% url 'Register' %}">Registro</a>
            </div>
            <div class="boton carrito perfil">
                <button style="background-color: rgba(240, 248, 255, 0);border: 0;" onclick="popup()" type="button"><img src="{% static 'img/iconos/usuario (1).png' %}" alt="" width="25" style="margin-left: 4.5px;"></button>
            </div>
            
            <div class="boton carrito">
                <button style="background-color: rgba(240, 248, 255, 0);border: 0;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="{% static 'img/iconos/img_carro.png' %}" alt="" width="30px"></button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito de compra <hr></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" id="offcanva">
                        <div id="identificador">

                        </div>
                        <a href="{% url 'detalleCompra' %}">
                            <div class="irCompra">
                                <h6>COMPRAR</h6>
                            </div>
                        </a>
            
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="popUp" id="popUp">
        <div class="modal">
            <div class="boton ingreso2">
                <a href="/html/Login.html" >Ingreso</a>
            </div>
            <div class="boton registro2">
                <a href="/html/Register.html">Registro</a>
            </div>
        </div>  
    </div>
</header> 

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var carritoButton = document.querySelector('[data-bs-target="#offcanvasRight"]');
        carritoButton.addEventListener('click', function() {
            fetch('/ver_carrito/')
                .then(response => response.json())
                .then(data => {
                    var carritoContainer = document.getElementById('identificador');
                    carritoContainer.innerHTML = '';
                    for (var productoId in data) {
                        var producto = data[productoId];
                        var productoElement = document.createElement('div');
                        productoElement.innerHTML = `
                            <div data-producto-id="${productoId}" class="plato">
                                <p>${producto.nombre} - $${producto.precio*producto.cantidad}</p>
                                <div class="cantidad-eliminar">
                                    <div class="cantidad">
                                         <p>Cantidad: ${producto.cantidad}</p>
                                    </div>        
                                    <div class="eliminar">
                                        <button onclick="eliminarDelCarrito(${productoId})">Eliminar</button>
                                    </div>       
                                </div>
                            </div>
                        `;
                        carritoContainer.appendChild(productoElement);
                    }
                });
        });
    });

    function eliminarDelCarrito(productoId) {
        fetch(`/eliminar_del_carrito/${productoId}/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (response.status === 200) {
                console.log('Producto eliminado');
                document.querySelector(`[data-producto-id="${productoId}"]`).remove();
            }
        });
    }
</script>

