<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Compra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.cdnfonts.com/css/ponnala');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>
<body>
    {% include 'bases/header.html' %}
    <main>
        <div>
            <div class="SeguirCompra">
                <button type="ingresar" class="btn" >Seguir Comprando</button>
            </div>
            <br>
        </div>
        <div class="Contenedor" id="Contenedor">
            
        </div> 
        <div class="total" id="total">

        </div>  
        <div>
            <div class="Comprar">
                <button type="ingresar" class="btn" >
                    <a href="{% url 'GuardarCompra' %}">
                        Comprar
                    </a>
                </button>
            </div>
        </div>
    </main>
    {% include 'bases/footer.html' %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
                fetch('/ver_carrito/')
                    .then(response => response.json())
                    .then(data => {
                        var carritoContainer = document.getElementById('Contenedor');
                        carritoContainer.innerHTML = '';
                        var totalContainer = document.getElementById('total');
                        var total = 0;
                        for (var productoId in data) {
                            var producto = data[productoId];
                            var productoElement = document.createElement('div');
                            productoElement.classList.add('compra');
                            productoElement.innerHTML = `
                                <div data-producto-id="${productoId}" class="plato-compra">
                                    <div class="imagen">
                                        <img src="${producto.imagen}" alt="Primer Producto" width="60px" >
                                    </div>
                                    <div class="nombre">
                                        <p>${producto.nombre}</p>
                                    </div>
                                    <div class="precio">
                                        <p>$${producto.precio*producto.cantidad}</p>
                                    </div>
                                    <div class="compra-cantidad-eliminar">
                                        <div class="compra-cantidad">
                                             <p>Cantidad: ${producto.cantidad}</p>
                                        </div>        
                                        <div class="compra-eliminar">
                                            <button onclick="eliminarDelCarrito(${productoId})">Eliminar</button>
                                        </div>       
                                    </div>
                                </div>
                            `;
                            carritoContainer.appendChild(productoElement);
                            total += producto.precio*producto.cantidad;
                        }
                        totalContainer.innerHTML = `<h6>Total: $${total}</h6>`
                    });
            ;
        });
    
        function eliminarDelCarrito(productoId) {
            fetch(`/eliminar_del_carrito/${productoId}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.status === 200) {
                    console.log('Producto eliminado');
                    document.querySelector(`[data-producto-id="${productoId}"]`).remove();
                    
                    recalcularTotal();
                    
                }
            });
        }
        function recalcularTotal() {
            fetch('/ver_carrito/')
                .then(response => response.json())
                .then(data => {
                    var total = 0;
                    for (var productoId in data) {
                        var producto = data[productoId];
                        total += producto.precio * producto.cantidad;
                    }
                    document.getElementById('total').innerHTML = `<h6>Total: $${total}</h6>`;
                })
                .catch(error => console.error('Error al obtener el carrito:', error));
        }
    </script>
    
    <link rel="stylesheet" href="{% static 'css/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static '/css/Detail.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<html>
