<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <title>Detalle del Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.cdnfonts.com/css/ponnala');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <script src="{% static 'js/AgregarCarro.js' %}"></script>
</head>
<body>
    {% include 'bases/header.html' %}
<main>
    
    <div id="Con">
        <div class="Contenedor">
            <div class="PlatoPrincipal">
                <a href=". ."></a>
                <img src="{% static 'img/platos/Fideos.png' %}" alt="Primer Producto" width="100%" height="200px" >
              </div>
              <div class="NomProducto">
                <h5>{{plato.nombre}}</h5>
              </div>
              <div class="Descripcion">
                <h6>{{plato.descripcion}}</h6>
              </div>
              <div class="CantidadCom">
                <h6>Cantidad</h6>
              </div>
              <div class="Linea1">     
                <select class="Cantidad" >
                  <option value="number">1</option>
                  <option value="number">2</option>
                  <option value="number">3</option>
                  <option value="number">4</option>
                  <option value="number">5</option>
                  <option value="number">6</option>
                  <option value="number">7</option>
                  <option value="number">8</option>
                  <option value="number">9</option>
                  <option value="number">10</option>
                </select>
              </div>
              <div class="Ingredientes">
                <h5>Agregar Ingredientes</h5>
              </div>
              <div class="Pago">
                <div class="SeguirCompra" id="agregar">
                  <button class="agregar-producto" data-product-id="{{ plato.id_producto }}" id>Agregar y seguir comprando</button>
                </div>
                <div class="Pagar">
                  <div>
                      <button  class="btn" style="float: right;" ><a href="Detail.html">Pagar ahora &middot; {{plato.precio}} </a></button>
                  </div>     
                </div> 
              </div>
        </div>
    </div>
</main>
    {% include 'bases/footer.html' %}

<link rel="stylesheet" href="{% static 'css/Navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/DetailProduct.css' %}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
