<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
{% include 'bases/header.html' %}
<body>

  <div class="Contenedor">
    <div class="buscador">
        <form class="d-flex" role="search" action="{% url 'OrderTracking' %}" method="get">
            <input class="form-control me-2" type="search" placeholder="ID del seguimiento" id="seguimiento" name="seguimiento">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</div>

</body>
{% include 'bases/footer.html' %}
<link rel="stylesheet" href="{% static 'css/Navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/OrderTracking.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
</html>