<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'bases/header.html' %}
    <main>
       
        <button class="compra">boton</button>
        <div class="a" id="identificador">
            
        </div>

    </main>
    {% include 'bases/footer.html' %}

</body>
<script>
    var carritoButton = document.querySelector('.compra');
        carritoButton.addEventListener('click', function() {
            fetch('/compras/')
                .then(response => response.json())
                .then(data => {
                    var carritoContainer = document.getElementById('identificador');
                    carritoContainer.innerHTML = '';
                    for (var compraid in data) {
                        var producto = data[compraid];
                        var productoElement = document.createElement('div');
                        productoElement.innerHTML = `
                            <li>${producto.id_compra}</li>
                            <li>${producto.correo_cliente}</li>
                            <li>${producto.fecha_compra}</li>
                            <li>${producto.total_compra}</li>
                        `;
                        carritoContainer.appendChild(productoElement);
                    }
                });
        });
</script>
<link rel="stylesheet" href="{% static 'css/Navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
</html>